---
import Layout from '../layouts/Layout.astro'
import Banner from '../components/Banner.astro'
import Navbar from 'astro/components/Navbar.astro'
import HeroSection from 'astro/components/HeroSection.astro'
import CustomerReviews from 'astro/components/CustomerReviews.astro'
import Contact from 'astro/components/Contact.astro'
import Footer from 'astro/components/Footer.astro'
import CTA from 'astro/components/CTA.astro'
import BeautySimplicity from 'astro/components/BeautySimplicity.astro'
import Gallery from 'astro/components/Gallery.astro'
import LimitedTime from 'astro/components/LimitedTime.astro'
import DreamKitchen from 'astro/components/DreamKitchen.astro'
import ServiceAreas from 'astro/components/ServiceAreas.astro'
import UserAnalytics from '../components/UserAnalytics.astro'
---

<Layout title='The Markae Advantage'>
  <main class='h-[2000px]'>
    <Banner />
    <section>
      <div class='container px-4 mx-auto'>
        <Navbar />
        <HeroSection />
        <UserAnalytics />
        <CTA />
        <CustomerReviews />
        <ServiceAreas />
        <LimitedTime />
        <BeautySimplicity />
        <Gallery />
        <DreamKitchen />
        <Contact />
      </div>
      <Footer />
    </section>
  </main>
</Layout>
