<div class='bg-zinc-900 w-full h-14 flex items-center shadow-lg sticky top-0 z-50'>
  <div class='flex items-center justify-center w-full'>
    <div style='color: #AD974F' class='hidden sm:block mr-3'>
      <svg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none'>
        <g stroke='currentColor' stroke-width='1.5' clip-path='url(#a)'>
          <path
            d='m25.293 15.109.7-.272-.7.272 1.02 2.62a.639.639 0 0 1-.249.768l-2.532 1.639c-.448.29-.77.736-.907 1.251l-.733 2.787a.638.638 0 0 1-.65.475l-3.001-.15a2.14 2.14 0 0 0-1.39.425l-2.468 1.851a.638.638 0 0 1-.766 0l-2.47-1.852a2.139 2.139 0 0 0-1.384-.425l-3.18.151a.638.638 0 0 1-.655-.506l-.576-2.736a2.138 2.138 0 0 0-.793-1.258l-2.696-2.061a.638.638 0 0 1-.207-.739l1.046-2.69a2.139 2.139 0 0 0 0-1.55l-.996-2.56a.638.638 0 0 1 .271-.782L4.383 8.35c.502-.295.861-.782.996-1.348l.753-3.164a.638.638 0 0 1 .652-.49l3.185.152a2.138 2.138 0 0 0 1.438-.466l2.222-1.777a.638.638 0 0 1 .782-.013L16.882 3.1c.37.278.82.428 1.283.428h3.095c.29 0 .544.195.618.476l.756 2.872c.128.487.423.913.834 1.203l2.65 1.87c.237.167.331.472.231.743l-1.07 2.904c-.18.49-.175 1.028.014 1.514Z'>
        </path>
        <circle cx='10.297' cy='10.413' r='1.851'></circle>
        <circle cx='17.703' cy='17.818' r='1.851'></circle>
        <path stroke-linecap='round' d='M8.446 19.438 19.322 8.562'></path>
      </g>
      <defs>
        <clipPath id='a'>
          <path fill='currentColor' d='M0 0h28v28H0z'></path>
        </clipPath>
      </defs>
    </svg>
    </div>
    <p class='text-white text-center font-semibold tracking-wider text-sm sm:text-base'><span class='text-primary brightness-150 sm:brightness-100 sm:text-white'>ENDING SOON:</span> 20% OFF + FREE INSTALLATION</p>
  </div>
</div>
