<section id="gallery" class='sm:mt-20 sm:py-12 pt-12 sm:pt-0 overflow-hidden'>
    <div class='container mx-auto px-4'>
      <div class='sm:text-center'>
        <h1 class='font-semibold text-4xl xs:text-8xl sm:text-5xl'>There is beauty in <span class='text-primary'>simplicity.</span></h1>
        <p class='text-zinc-500 font-medium sm:font-normal text-lg sm:text-xl lg:text-2xl max-w-screen-xl leading-7 mt-8 mx-auto'>
          We make it <span class='font-bold sm:font-normal'>easy</span> for you to design a <span class='font-bold sm:font-normal'>beautiful</span> kitchen without the second-guessing. <span class='sm:hidden'><br><br></span>Our selection of finishes are
          designed to make your kitchen look and feel beautiful with a few simple choices. <span class='sm:hidden'><br><br></span>Choose from our curated selection of melamine finishes, door styles,
          and hardware to create a kitchen that is uniquely yours!
        </p>
      </div>
      <div class="sm:hidden w-full mt-10 text-zinc-400 text-lg font-medium animate-bounce">
        <div class="flex items-center space-x-3 text-zinc-700">
          <div>Swipe for inspiration</div>
          <svg class="fill-zinc-700" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
          </svg>
        </div>
      </div>
    </div>
  </section>