<section class='mt-20 py-12 overflow-hidden'>
    <div class='container mx-auto px-4'>
      <div class='text-center'>
        <h1 class='font-semibold text-5xl xs:text-8xl sm:text-10xl'>There is beauty in <span class='text-primary'>simplicity.</span></h1>
        <p class='text-zinc-500 sm:text-xl lg:text-2xl max-w-screen-xl leading-7 mt-8 mx-auto'>
          We make it easy for you to design a beautiful kitchen without the second-guessing. Our selection of finishes are
          designed to make your kitchen look and feel beautiful with a few simple choices. Choose from our curated selection of melamine finishes, door styles,
          and hardware to create a kitchen that is uniquely yours.
        </p>
      </div>
    </div>
  </section>