---
// dream.kitchen@markaeclosets.com
---

<div class='bg-zinc-300 py-10 sm:py-0 full-width-bg h-14 flex shadow-lg sticky top-0 z-40'>
    <div class='container mx-auto px-4'>
        <div class='flex items-center h-full w-full'>
          <div style='' class=' mr-3'>
            <!-- Email Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <rect width="20" height="16" x="2" y="4" rx="2"/>
              <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/>
            </svg>
          </div>
          <p class='text-zinc-900 font-bold tracking-wider'>Prefer to contact us via email? <a class='underline' href="mailto:dream.kitchen@markaeclosets.com">dream.kitchen@markaeclosets.com</a></p>
        </div>
    </div>
</div>