---
import AdvantagesDark from "./Advantages-Dark.astro";
import Star from "./Star.astro";
import Sparkles from "./Sparkle.astro";

---


<section id="company" class="py-20 mt-36 my-20 bg-zinc-950 flex items-center justify-center  text-zinc-200 full-width-bg">
  <div>
    <div class="container px-4 mx-auto">
        <div class='w-full p-4 text-center'>
            <h1 class='font-heading text-zinc-400 text-5xl font-semibold mb-12 text-center tracking-wide shimmer'>
              <!-- <span class='text-white brightness-150'>Design.</span> <span class='text-zinc-200 brightness-90'>Build.</span> <span class='text-zinc-400 brightness-70'>Install.</span> -->
              Design. Build. Install.
              
            </h1>
            <!-- <Sparkles color="#FFC700">
              <h1></h1>
            </Sparkles> -->
            <p class='text-zinc-400 brightness-110 text-xl leading-7 '>
              For over three decades, our commitment to excellence has made us a trusted provider of custom cabinetry for homebuilders, developers, and
              residential clientele across the Greater Toronto Area. Today, we continue to differentiate ourselves through superior customer service
              alongside an experienced team, quality materials, and remarkably competitive pricing.
            </p>
          </div>
          <AdvantagesDark />
    </div>
    </div>
</section>
<style>
    section {
      background-image: url(/kitchens-landing-page/repeat-lighter.svg);
      background-size: 297px;
      /* background: radial-gradient(circle at top right, rgba(90, 90, 90, 0.4) 0%, rgba(0,0,0,1) 70%); */
    }


    .glow {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
    }

    .shimmer {
      display: inline-block;
      background: linear-gradient(
        to right,
        #acacac 20%,
        #ffffff 50%,
        #acacac 80%
      );
      background-size: 200% auto;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shimmer 5s linear infinite;
      line-height: normal;
    }

    
    @keyframes shimmer {
        0% {
            background-position: 200% center;
        }
        100% {
            background-position: -200% center;
        }
    }

    
  </style>