<div class="my-8 mt-2 py-20" id='reviews'>
  <div class='text-center'>
    <h1 class='font-semibold text-5xl mb-4'>Discover why our clients love us!</h1>
    <h2 class='text-2xl text-zinc-400'>Read our reviews and testimonials from previous customers.</h2>
  </div>
  <section class='mt-8 relative overflow-hidden rounded-xl'>
    <!-- <div class='container px-4 mx-auto'>
      <div class='flex flex-wrap'>
        <div class='w-full pl-11 mb-8'>
          <h1 class='font-heading text-zinc-800 text-4xl font-semibold mb-4 tracking-wide'>Don't Just Take Our Word For It</h1>
          <p class='text-zinc-500 text-2xl leading-7'>See what our clients have to say about their experiences with us.</p>
        </div>
      </div>
      <div class='mt-8'>
        <script defer async src='https://cdn.trustindex.io/loader.js?e373bf03149b12765d46a7dd9a8'></script>
      </div>
    </div> -->
    <!-- <script defer async src='https://cdn.trustindex.io/loader.js?1e29c053137412700e561b7dfaf'></script> -->
    <!-- <script defer async src='https://cdn.trustindex.io/loader.js?5d1ddf031785255db666dce996b'></script> -->
    <script defer async src='https://cdn.trustindex.io/loader.js?b10ade4307e5004e70069cb646b'></script>
  </section>
</div>