<div class="my-8 mt-2 sm:py-20" id='reviews'>
  <div class='text-center'>
    <h1 class='font-bold sm:font-semibold text-4xl sm:text-6xl mb-4'>Discover why our clients love us!</h1>
    <h2 class='hidden sm:block text-lg sm:text-2xl text-zinc-400'>Read our reviews and testimonials from previous customers.</h2>
    <h2 class='block sm:hidden text-lg sm:text-2xl text-zinc-400 -mt-2 font-medium'>Read 200+ reviews from previous clients</h2>
  </div>
  <section class='mt-8 relative overflow-hidden rounded-xl'>
    <script defer async src='https://cdn.trustindex.io/loader.js?b10ade4307e5004e70069cb646b'></script>
  </section>
</div>