---
import CldImage from './CldImage.astro'
---

<section class='py-12 md:py-20 bg-black w-screen flex justify-center'>
  <div class='container px-4'>
    <div class='flex items-center flex-wrap -mx-4 mb-16'>
      <div class='w-full lg:w-4/12 xl:w-5/12 px-4 mb-8 lg:mb-0'>
        <a class='inline-block' href='#'>
          <CldImage
            class='pt-4 fadeInUp-animation'
            public_id='web/markae-closets-white-logo_yuzdeg'
            alt='Astro Logo'
            height='60'
            width='287'
            loading={'eager'}
          />
        </a>
      </div>
      <div class='w-full lg:w-8/12 xl:w-7/12 px-4'>
        <ul class='flex flex-wrap -mb-2 items-center lg:justify-end'>
          <li class='mb-2 mr-14'><a class='inline-block text-white hover:text-zinc-400' href='#'>Contact</a></li>
          <li class='mb-2 mr-14'><a class='inline-block text-white hover:text-zinc-400' href='#'>Blog</a></li>
          <li class='mb-2 mr-14'><a class='inline-block text-white hover:text-zinc-400' href='#'>Our Storry</a></li>
          <li class='mb-2 mr-14'><a class='inline-block text-white hover:text-zinc-400' href='#'>Careers</a></li>
          <li class='mb-2 mr-14'><a class='inline-block text-white hover:text-zinc-400' href='#'>Support</a></li>
          <li class='mb-2'><a class='inline-block text-white hover:text-zinc-400' href='#'>Guides</a></li>
        </ul>
      </div>
    </div>
    <div class='flex flex-wrap -mx-4 items-center'>
      <div class='w-full sm:w-1/2 px-4 mb-6 sm:mb-0'>
        <span class='text-sm text-zinc-600'>© 2024 markaeclosets.com</span>
      </div>
      <div class='w-full sm:w-1/2 px-4 sm:text-right'>
        <div class='-mb-2'>
          <a class='inline-block text-sm mb-2 mr-12 text-zinc-600 hover:text-zinc-500' href='#'>Terms of Use</a><a
            class='inline-block text-sm mb-2 text-zinc-600 hover:text-zinc-500'
            href='#'>Privacy Policy</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background-image: url(/repeat.svg);
    background-size: 297px;
  }
</style>
