---
import InfiniteScrollGallery from "./InfiniteScrollGallery.astro"
import InfiniteScrollGalleryMobile from "./InfiniteScrollGalleryMobile.astro"

const images = [
{
'public_id': 'web/img1_tcxgyp.webp',
'alt': 'Gallery image',
},
{
'public_id': 'web/v2_c1swxk.webp',
'alt': 'Gallery image',
},
{
'public_id': 'web/v3_xhci9i.webp',
'alt': 'Gallery image',
},
{
'public_id': 'web/v4_e6dcws.webp',
'alt': 'Gallery image',
},
{
'public_id': 'web/kitchen-2_enpzh6.webp',
'alt': 'Gallery image'
},
{
'public_id': 'web/img4_kwixvr.webp',
'alt': 'Gallery image'
}
]
---

<section class="sm:py-20 bg-white">
    <div class="sm:hidden">
      <InfiniteScrollGalleryMobile images={images} />
    </div>
    <div class="hidden sm:block">
      <InfiniteScrollGallery images={images} />
    </div>
  </section>