---
import InfiniteScrollGallery from "./InfiniteScrollGallery.astro"

const images = [
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
    "/kitchens-landing-page/img1.jpeg",
   
]
---

<section class="py-20 bg-white">
    <InfiniteScrollGallery images={images} />
  </section>