---
import InfiniteScrollGallery from "./InfiniteScrollGallery.astro"

const images = [
    "/img1.jpeg",
    "/img1.jpeg",
    "/img1.jpeg",
    "/img1.jpeg",
    "/img1.jpeg",
    "/img1.jpeg",
    "/img1.jpeg",
    "/img1.jpeg",
    "/img1.jpeg",
    "/img1.jpeg",
    "/img1.jpeg",
    "/img1.jpeg",
    "/img1.jpeg",
]
---

<section class="py-20 bg-white">
    <InfiniteScrollGallery images={images} />
  </section>