---
interface Props {
  images: {
    public_id: string;
    alt: string;
  }[];
}

const { images } = Astro.props;
---

<div class="infinite-scroll-gallery-container">
  <div class="infinite-scroll-gallery">
    {images.map((image) => (
      <img loading="lazy" src={`https://res.cloudinary.com/markae/image/upload/v1725997106/${image.public_id}`} alt="Gallery image" class="gallery-image" />
    ))}
  </div>
</div>


<style>
  .infinite-scroll-gallery-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .infinite-scroll-gallery-container::before,
  .infinite-scroll-gallery-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 2;
  }

  .infinite-scroll-gallery-container::before {
    left: 0;
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
  }

  .infinite-scroll-gallery-container::after {
    right: 0;
    background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
  }

  .infinite-scroll-gallery {
    display: flex;
    width: max-content;
    animation: scroll 100s linear infinite;
    will-change: transform;
  }

  .gallery-image {
    height: 400px;
    width: auto;
    margin-right: 20px;
    border-radius: 10px;
  }

  @keyframes scroll {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
</style>