---
---

<div class=" absolute left-0">
    <div class="" id="map"></div>
</div>

<style>
  #map {
    height: 700px;
    width: 100vw;
  }
</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

<script is:inline src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const toronto = [43.75, -79.447015];
    const map = L.map('map', {
        center: toronto,
        zoom: 15,
        zoomControl: false, // Disable zoom control
    //   dragging: false, // Disable map dragging
      touchZoom: false, // Disable touch zoom on mobile
      scrollWheelZoom: false, // Disable scroll wheel zoom
      doubleClickZoom: false, // Disable double click zoom
      boxZoom: false, // Disable box zooming
      keyboard: false, // Disable keyboard navigation
    });

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 10,
    }).addTo(map);

    // Apply grayscale filter
    map.getContainer().style.filter = 'grayscale(100%)';
    map.getContainer().style.opacity = 0.2;
    // map.getContainer().style.position = 'absolute';
    // map.getContainer().style.top = '0';
    // map.getContainer().style.left = '0';
    // map.getContainer().style.width = '100%';
    // map.getContainer().style.height = '100%';

  });
</script>