<div class='hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50'>
  <div class='navbar-backdrop fixed inset-0 bg-gray-800 opacity-25'></div>
  <nav class='relative flex flex-col py-6 px-6 w-full h-full bg-white border-r overflow-y-auto'>
    <div class='flex items-center mb-8'></div>
    <div>
      <ul>
        <li class='mb-1'><a class='block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded' href='#'>About</a></li>
        <li class='mb-1'><a class='block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded' href='#'>Company</a></li>
        <li class='mb-1'><a class='block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded' href='#'>Services</a></li>
        <li class='mb-1'><a class='block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded' href='#'>Testimonials</a></li>
      </ul>
    </div>
    <div class='mt-auto'>
      <div class='pt-6'>
        <a
          class='block px-6 py-2 mb-2 text-sm text-center text-gray-500 hover:text-gray-600 font-bold leading-loose border border-gray-100 hover:border-gray-200 rounded'
          href='#'>Contact Us</a
        >
      </div>
    </div>
  </nav>
</div>
