---
import CldImage from './CldImage.astro'
const images = [
  'https://res.cloudinary.com/markae/image/upload/v1718733668/web/img1_tcxgyp.jpg',
  'https://res.cloudinary.com/markae/image/upload/v1716929932/web/modern-kitchen-gold-hardware_iz0toe.png',
  'https://res.cloudinary.com/markae/image/upload/v1718733668/web/img1_tcxgyp.jpg'
]

const { reversed, title, description, items } = Astro.props
---

<section class='py-12 md:py-24 overflow-hidden'>
  <div class='container mx-auto px-4'>
    <div class='mb-16'>
      <h1 class='font-semibold text-5xl xs:text-8xl sm:text-10xl'>There is beauty in simplicity<span class='text-primary'>.</span></h1>
      <p class='text-zinc-500 text-lg leading-7 mt-8'>
        We make it easy for you to design a beautiful kitchen without the decision-fatigue and second-guessing. Our selection of finishes are
        designed to make your kitchen look and feel beautiful with a few simple choices. Choose from our curated selection of melamine finishes, door styles,
        and hardware to create a kitchen that is uniquely yours.
      </p>
    </div>
    <div class='flex flex-wrap -mx-4'>
      <div class='w-full lg:w-5/12 px-4 order-last lg:order-first'>
        <!-- <CldImage class='h-135 w-full max-w-lg mx-auto lg:mx-0 rounded-xl object-cover' public_id='web/img1_tcxgyp.jpg' alt='Photo' /> -->
        <div class='image-container relative'>
          <!-- <img
            id='currentImage'
            class='h-[250px] w-full max-w-lg mx-auto lg:mx-0 rounded-xl object-cover'
            src='https://res.cloudinary.com/markae/image/upload/v1718733668/web/img1_tcxgyp.jpg'
            alt='Photo'
          /> -->
          {
            images.map((src, index) => (
              <img
                src={src}
                class='image h-[300px] w-full max-w-lg mx-auto lg:mx-0 rounded-xl object-cover'
                style={`opacity: ${index === 0 ? 1 : 0}`}
              />
            ))
          }
        </div>
      </div>
      <div class='w-full lg:w-7/12 px-4 mb-20 lg:mb-0 self-center'>
        <div class='max-w-lg xl:max-w-none mx-auto lg:mr-0 hover-trigger'>
          <button class='group block text-left w-full pb-6 mb-8 border-b' x-data='{ accordion: false }' x-on:click='accordion = !accordion'>
            <div class='flex items-center group'>
              <span class='inline-block mr-8 text-sm'>01</span>
              <h3 class='hover-trigger inline-block text-2xl lg:text-3xl xl:text-4xl transition duration-200 group-hover:text-primary'>
                Satin White
              </h3>
              <span :class="{'rotate-180': accordion, 'rotate-0': !accordion }" class='ml-auto inline-block transform rotate-0'>
                <svg width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'>
                  <path
                    d='M18.8223 15.0312L12.4993 21.3542L6.17643 15.0313'
                    stroke='black'
                    stroke-width='1.61806'
                    stroke-miterlimit='10'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                  <path
                    d='M12.5 3.646L12.5 21.1772'
                    stroke='black'
                    stroke-width='1.61806'
                    stroke-miterlimit='10'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                </svg>
              </span>
            </div>
            <div
              x-ref='container'
              :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''"
              class='overflow-hidden h-0 duration-500'
              style=''
            >
              <div class='mt-6 pr-10'>
                <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The
                  point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                </p>
              </div>
            </div>
          </button>
          <button class='group block w-full text-left pb-6 mb-8 border-b' x-data='{ accordion: false }' x-on:click='accordion = !accordion'>
            <div class='flex items-center'>
              <span class='inline-block mr-8 text-sm'>02</span>
              <h3 class='inline-block text-2xl lg:text-3xl xl:text-4xl'>Wood Grain</h3>
              <span :class="{'rotate-180': accordion, 'rotate-0': !accordion }" class='ml-auto inline-block transform rotate-0'>
                <svg width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'>
                  <path
                    d='M18.8223 15.0312L12.4993 21.3542L6.17643 15.0313'
                    stroke='black'
                    stroke-width='1.61806'
                    stroke-miterlimit='10'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                  <path
                    d='M12.5 3.646L12.5 21.1772'
                    stroke='black'
                    stroke-width='1.61806'
                    stroke-miterlimit='10'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                </svg>
              </span>
            </div>
            <div
              x-ref='container'
              :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''"
              class='overflow-hidden h-0 duration-500'
              style=''
            >
              <div class='mt-6 pr-10'>
                <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The
                  point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content
                  here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                  default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved
                  over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
              </div>
            </div>
          </button>
          <button class='group block w-full text-left' x-data='{ accordion: false }' x-on:click='accordion = !accordion'>
            <div class='flex items-center'>
              <span class='inline-block mr-8 text-sm'>03</span>
              <h3 class='inline-block text-2xl lg:text-3xl xl:text-4xl'>High Gloss</h3>
              <span :class="{'rotate-180': accordion, 'rotate-0': !accordion }" class='ml-auto inline-block transform rotate-0'>
                <svg width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'>
                  <path
                    d='M18.8223 15.0312L12.4993 21.3542L6.17643 15.0313'
                    stroke='black'
                    stroke-width='1.61806'
                    stroke-miterlimit='10'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                  <path
                    d='M12.5 3.646L12.5 21.1772'
                    stroke='black'
                    stroke-width='1.61806'
                    stroke-miterlimit='10'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                </svg>
              </span>
            </div>
            <div
              x-ref='container'
              :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''"
              class='overflow-hidden h-0 duration-500'
              style=''
            >
              <div class='mt-6 pr-10'>
                <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The
                  point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                </p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .image-container img {
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }

  h3 {
    cursor: pointer;
  }
</style>

<script>
  const headings = document.querySelectorAll('h3')

  const images = document.querySelectorAll('.image-container img')

  headings.forEach((heading, index) => {
    heading.addEventListener('mouseenter', () => {
      images.forEach((img, i) => {
        img.style.opacity = i === index ? 1 : 0
      })
    })
  })
</script>
